<h1>새로운 글 작성 페이지입니다</h1>
<form action='/home/update/<%=@post.id%>' method='post'>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    제목 : <input type='text' name='post_title' value='<%=@post.title%>'><br><br>
    내용 : <textarea name='post_content'><%=@post.content%></textarea><br><br>
    <input type='submit' value='제출'>
</form>
